<input
  type="text"
  placeholder="Search pair"
  [(ngModel)]="search"
  (input)="applyFilter()"
/>

<div class="header-row">
  <span class="favorite-header"></span>
  <span class="clickable" (click)="sort('symbol')">
    Symbol {{ sortColumn === "symbol" ? (sortAsc ? "↑" : "↓") : "" }}
  </span>
  <span class="clickable" (click)="sort('lastPrice')">
    Price {{ sortColumn === "lastPrice" ? (sortAsc ? "↑" : "↓") : "" }}
  </span>
  <span class="clickable" (click)="sort('priceChangePercent')">
    Change
    {{ sortColumn === "priceChangePercent" ? (sortAsc ? "↑" : "↓") : "" }}
  </span>
  <span class="clickable" (click)="sort('volume')">
    Volume {{ sortColumn === "volume" ? (sortAsc ? "↑" : "↓") : "" }}
  </span>
</div>

<cdk-virtual-scroll-viewport itemSize="48" class="viewport">
  <div
    class="row"
    *cdkVirtualFor="let t of filtered; trackBy: trackBySymbol"
    [routerLink]="['/pair', t.symbol]"
  >
    <span (click)="toggleFavorite(t.symbol, $event)">
      {{ isFavorite(t.symbol) ? "⭐" : "☆" }}
    </span>

    <span>{{ t.symbol }}</span>
    <span>{{ t.lastPrice }}</span>
    <span
      [class.up]="+t.priceChangePercent > 0"
      [class.down]="+t.priceChangePercent < 0"
    >
      {{ t.priceChangePercent }}%
    </span>
    <span>{{ t.volume | number }}</span>
  </div>
</cdk-virtual-scroll-viewport>
